@media (max-width: 575px){
  html {
      max-width: 320px;
  }
}
@media (min-width: 576px){
  html {
      max-width: 540px;
  }
}
@media (min-width: 768px){
  html {
      max-width: 720px;
  }
}
@media (min-width: 992px){
  html {
      max-width: 960px;
  }
}
@media (min-width: 1200px){
  html {
      max-width: 1140px;
  }
}
html {
  text-align: center;
  padding-top: 10%;
  background-color: #f6ddff;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
